.App {
  background-color:white;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.top {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1500px;
}

 .topright {
  height: 150px;
  width: 150px;
  background-image: url("../src/IMG_3818.PNG");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 55px;
 }

  .topright:hover {
  height: 180px;
  width: 180px;
  background-image: url("../src/IMG_3818.PNG");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 55px;
  
 }

.tab {
  width: 950px;
  background-color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: bold;
}

.tabdiff {
   width: 400px;
  background-color: white;
  height: 100px;
  display: flex;
  padding-left: 550px;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
}

   .bar {
     width: 990px;
     height: 10px;
     background-color: black;
     display: flex;
     justify-content: flex-end;
     margin-bottom: 20px;
   }

.middle {
  background-color: white;
  height: 450px;
  display: flex;
  margin-top:20px;
   visibility: visible;
  opacity: 1;
  transition: opacity 5s linear;

}

.photoarrow {
  width: 293px;
  display: flex;
  justify-content: space-between;
}


.phrase {
    background-color: white;
    height: 400px;
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 150px;
    font-size: 60px;
    font-weight: bold;  
}

.phrase5 {
    background-color: white;
    height: 200px;
    width: 780px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 300px;
    font-size: 60px;
    font-weight: bold;
}
  .carousel {
    height: 400px;
    width: 800px;
  }

.BuyTix {
  background-color: black;
  color: white;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.BuyTix:hover {
  background-color: black;
  color: white;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}

.Live {
  width: 220px;
  background-color: white;
   position: relative;
font-family: 'Poppins', sans-serif;
font-size: 70px;
}

.Live2 {
  width: 220px;
  background-color: white;
   position: relative;
font-family: 'Poppins', sans-serif;
font-size: 41px;
}

.Life {
  width: 90px;
  background-color: white;
   position: relative;
font-family: 'Poppins', sans-serif;
font-size: 70px;
}

.Headphones {
  font-weight: 800;
  position: relative;
  background-color: white;
font-family: 'Poppins', sans-serif;
font-size: 70px;
width: 360px;
}

.HeadLogo {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
font-size: 50px;
width: 700px;
height: 150px;
display: flex;
justify-content: flex-end;
position: absolute;
margin-left: 140px;
margin-top: 40px;
color: black;
}

.phrase2 {
    background-color: white;
    height: 200px;
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 60px;
    font-weight: bold;
    position: relative;
}

.phrase4 {
    background-color: white;
    height: 200px;
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-size: 60px;
    font-weight: bold;
    position: relative;
    margin-left: 10px;
}

.pic {
    background-color: black;
    height: 400px;
    width: 1150px;
    background-size: 100% 100%;
    margin-left: -300px; 
}

.KFD {
   position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

.pic2 {
    height: 400px;
    width: 940px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.pic3 {
    height: 400px;
    width: 940px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.pic3b {
    height: 400px;
    width: 940px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

.pic4 {
    background-color: slategrey;
    height: 100px;
    width: 850px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
   }

   .pic5 {
    height: 370px;
    width: 750px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    margin-left: 80px;
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
  
   }



.howto{
  background-color: black;
  height: 50px;
  width: 1250px;
  margin-top: 10px;
  margin-left: 130px;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  color: white;
  justify-content: center;
  align-items: center;
    font-family: 'Poppins', sans-serif;
}

.howto2{
  background-color: black;
  height: 50px;
  width: 850px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  color: white;
  justify-content: center;
  align-items: center;
    font-family: 'Poppins', sans-serif;
}

.gallery {
  height: 170px;
  width: 215px;
  margin-left: 10px;
  background-color:white;
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
      font-family: 'Poppins', sans-serif;
}

.gallery:hover {
  height: 170px;
  width: 215px;
  margin-left: 10px;
  background-color:white;
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
}

.gallery2 {
  height: 350px;
  width: 210px;
  margin: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
}
.gallery4 {
  height: 170px;
  width: 215px;
  margin-left: 25px;
  background-color:white;
  display: flex;
  font-size: 50px;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
      font-family: 'Poppins', sans-serif;

}

.gallery4:hover {
  height: 170px;
  width: 215px;
  margin-left: 25px;
  background-color:white;
  display: flex;
  font-size: 50px;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
      font-family: 'Poppins', sans-serif;

}

.container {
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
  height: 300px;
}

.gallery3{
  height: 190px;
  width: 215px;
  margin: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
}

.bottom {
    background-color: white;
    width: 1500px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-top: -30px;
}

.bottomleft {
  width: 550px;
  height: 100px;
  background-color: white;
  display: flex;
  font-size: 30px;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
}

.bottomright {
  width: 450px;
  height: 100px;
  display: flex;
  font-size: 10px;
  justify-content: flex-end;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
}



.party1 {
  background-image: url("../src/encore.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  height: 190px;
  width: 215px;
}


.party2 {
  background-image: url("../src/encore2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  height: 190px;
  width: 215px;
}



.party3 {
  background-image: url("../src/encore3.png");
   background-repeat: no-repeat;
  background-size: 100% 100%;  
  height: 360px;
  width: 215px;
}



.party5 {
  background-image: url("../src/encore5.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  height: 190px;
  width: 215px;
}

.UE1 {
  background-image: url("../src/encore5.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  height: 350px;
  width: 210px;
}

.UE2 {
  background-image: url("../src/encore3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  height: 350px;
  width: 210px;
}

.midright {
  display: flex;
  flex-direction: column;
}

.whoweserve {
  font-family: 'Indie Flower', cursive;
  font-size: 120px;
}

.home {
  text-decoration: underline;
 
  font: bolder;
}

.contactus {
    font-family: 'Poppins', sans-serif;
}

.cu2 {
      font-family: 'Poppins', sans-serif;
      font-size: 30px;
}

.Name {
  margin-left: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 30px;

}

.Email {
  margin-left: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 30px;

}

.Message {
  margin-left: 20px;
  margin-bottom: 30px;
        font-family: 'Poppins', sans-serif;
        font-size: 30px;

}

.Namebox {
  margin-left: 72px;
  width: 400px;
}

.Emailbox {
  margin-left: 75px;
  margin-top: 30px;
  width: 400px;
}

.Messagebox {
  margin-left: 20px;
  margin-top: 50px;
  width: 400px;
  height: 110px;
}

.button {
  width: 100px;
  margin-left: 600px;
}

.H2 {
  color: black;
  text-decoration: none;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.H2:hover {
  color: black;
  text-decoration: none;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
}

.H3 {
  color: black;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  margin-left: 80px;
  font-size: 35px;
  font-weight: 900;
}

.aboutus {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 70px;
  font-family: 'Poppins', sans-serif;

}

.red{
  color: red;
  font-weight: 500;
}


.KF {
  width: 1140px;
  height: 400px;
    background-size: 100% 100%; 
}

.BB {
  text-decoration: none;
  color: black;
    font-family: 'Poppins', sans-serif;
font-size: 12px;
}

.BB:hover {
  text-decoration: none;
  color: black;
    font-family: 'Poppins', sans-serif;
font-size: 14px;
}

.BD {
  text-decoration: none;
  color: black;
    font-family: 'Poppins', sans-serif;
font-size: 20px;
font-weight: 400;
}

.BLT {
  width: 990px;
     height: 10px;
     background-color: black;
     display: flex;
     justify-content: flex-end;
}

.BLB {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.BLC {
      font-family: 'Poppins', sans-serif;
font-weight: 900;
text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: -8px;
}

.BLC:hover {
      font-family: 'Poppins', sans-serif;
font-weight: 900;
text-decoration: none;
  color: green;
  display: flex;
  flex-direction: column;
  margin-top: -8px;

}

.knot {
  text-decoration: none;
  font-weight: 400;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.knot:hover {
  text-decoration: wavy;
  font-weight: 200;
  color: green;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.knot2 {
  text-decoration: none;
  font-weight: 400;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.knot2:hover {
  text-decoration: wavy;
  font-weight: 200;
  color: blue;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}


.header-unit {
    height: 150px;
    border: 2px solid #000;
    border-right:none;
    border-left: none;
    position: relative;
    padding: 20px;
    width: 600px;
}
#video-container {
    position: absolute;
}
#video-container {
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    overflow: hidden;
}
video {
    position:absolute;
    z-index:0;
}
video.fillWidth {
    width: 100%;
}